@import "colors";

.account-table {
    width: 100%;

    &__organization {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__header {
            height: 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1.2em;
            font-weight: bold;
            align-items: center;
            
            &--title {
                font-style: italic;
                padding-left: 10px;
            }

            &--balance {
                padding-right: 10px;
                font-weight: 500;

                .positive {
                    color: $amount-positive;
                }

                .negative {
                    color: $amount-negative;
                }
            }
        }

        &__account {
            height: 25px;
            display: flex;
            justify-content: space-between;
            background: rgba(#5F5F5F, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
            align-items: center;

            &--title {
                &-0 {
                    padding-left: 20px;
                    font-weight: 500;
                }
                
                &-1 {
                    padding-left: 40px;
                }
            }

            &--balance {
                padding-right: 10px;

                .positive {
                    color: $amount-positive;
                }

                .negative {
                    color: $amount-negative;
                }
            }
        }
    }
}