@import "colors";
@import "fonts";

html {
  @include font-p;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $sidebar;
  height: 100%;
  color: $text-main;
}

h1 {
  @include font-h1
}

h2 {
  @include font-h2
}

p {
  @include font-p
}

body, #root{
  height: 100%;
}

.subtext {
  @include font-subtext;
}

.app {
  margin: 0;
  padding: 0;
  height: 100%;

  &__header {
    width: 100%;
    margin: 0;
    background: $sidebar;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      @include font-title;
      color: #444340;
      box-shadow: 0px 4px 5px 0px #F6F4F140 inset;
      margin: 0.3em;
      padding: 0;
      color: $text-main;
      margin-left: 50px;
    }

    svg {
      margin-right: 10px;
    }
  }

  &__content {
    display: flex;
    height: calc(100vh - 56px);

    &__main {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      overflow-y: scroll;
      flex-direction: column;
    }

    &__login {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.negative {
  color: $text-negative
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;

  &__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    background-color: $sidebar-container;
    margin: 16px;

      &--header {
        display: flex;
        justify-content: space-between;

        h1 {
          padding-left: 32px;
        }
      }

      &--input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        h2 {
          padding-left: 16px;
          padding-right: 3px;
          display: inline;
        }

        &-required {
          display: flex;
          justify-content: flex-start;
        }

        input, select {
          box-sizing: content-box;
          margin: 0;
          margin-right: 16px;
          padding: 1px, 2px;
          width: 150px;
          height: 20px;
          border-width: 1.5px;
          border-style: outset;
          border-radius: 5px;
        }
      }

      &--submit {
        margin-top: 16px;
      }
    }
  }


.card {
  padding: 8px;
  margin: 0;

  &--holder {
    background-color: $sidebar-container;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    padding: 16px;
  }
}

