@import "colors";

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #595959;
  height: 100%;
}

body, #root{
  height: 100%;
}

.app {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    width: 100%;
    margin: 0;
    background: $sidebar;
    display: flex;

    &__text {
      font-size: 1.3em;
      margin: 0.3em;
      padding: 0;
      color: $text-main;
    }
  }

  &__content {
    display: flex;
    height: 100%;

    &__main {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
