$ming: #407076;
$light-slate-gray: #698996;
$morning-blue: #97B1A6;
$copper-rose: #A26769;
$english-lavender: #A6808C;
$resin-black: #2E282A;

$sidebar: #F6F4F1;
$sidebar-container: #FCFBFA;
$text-main: #43414B;
$text-secondary: #898791;
$text-negative: #F28018;

$amount-positive: #059502;
$amount-negative: #E30000;