$ming: #407076;
$light-slate-gray: #698996;
$morning-blue: #97B1A6;
$copper-rose: #A26769;
$english-lavender: #A6808C;
$resin-black: #2E282A;


$sidebar: #E3DED5;
$sidebar-container: #FCFBFA;
$text-main: #43414B;
$text-secondary: #898791;
$text-negative: #F28018;

$daily: #3A5743;
$special: #BAACBD;
$savings: #E40066;
$retirement: #329DBF;
$cash: #E1B92B;
$investment: #5A8A0B;
$liability: #574DC7;

$amount-positive: #059502;
$amount-negative: #E30000;