$ming: #407076;
$light-slate-gray: #698996;
$morning-blue: #97b1a6;
$copper-rose: #a26769;
$english-lavender: #a6808c;
$resin-black: #2e282a;

$sidebar: #e3ded5;
$sidebar-container: #fcfbfa;
$text-main: #43414b;
$text-secondary: #898791;
$text-negative: #f28018;

$daily: #3a5743;
$special: #baacbd;
$savings: #e40066;
$retirement: #329dbf;
$cash: #e1b92b;
$investment: #5a8a0b;
$liability: #574dc7;

$amount-positive: #059502;
$amount-negative: #e30000;
