@import 'colors';

.modal {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    background: $morning-blue;
    border: 1px solid $resin-black;
    color: $resin-black;

    &__header {
        text-align: center;
        height: 10%;
        padding: 0;
        margin: 0;
    }

    &__content {
        text-align: center;
        padding: 0;
        margin: 0;
        height: 80%;

        label {
            font-weight: bold;
        }
    }

    &__action {
        height: 10%;

        &--submit {
            background: $ming;
        }

        &--cancel {
            background: $copper-rose;
        }
    }
}
