@import 'colors';

.daily {
    color: $daily;
}

.special {
    color: $special;
}

.savings {
    color: $savings;
}

.retirement {
    color: $retirement;
}

.cash {
    color: $cash;
}

.investment {
    color: $investment;
}

.liability {
    color: $liability;
}
