.daily {
    color: #3A5743;
}

.special {
    color: #BAACBD;
}

.savings {
    color: #E40066;
}

.retirement {
    color: #329DBF;
}

.cash {
    color: #E1B92B;
}

.investment {
    color: #5A8A0B;
}

.liability {
    color: #574DC7;
}