@import "colors";

.transaction-table {
    width: 100%;
    color: $resin-black;
    border-collapse: collapse;

    &__header {
        background: $english-lavender;
        border-bottom: 1px solid $resin-black;
    }

    &__row {
        text-align: center;

        &--id {
            width: 5%;
        }

        &--delete {
            width: 10%;
        }
    }
}