{
    "extends": [
        "react-app",
        "react-app/jest"
      ],
    "overrides": [{
        "files": ["*.ts","*.tsx"],
        "rules": {
            "react-hooks/exhaustive-deps": "off"
        }
    }]
}